  body {
      background-color: rgb(216, 191, 240);
  }

  header {
      background-color: rgb(241, 190, 95);
  }

  i {
      font-size:42px;
  }
  video {
      max-width:75%;
  }
meter {
    height:50px;
    width:500px;
}
progress {
    height:50px;
    width:75%;
}
pre span {

    color:rgb(31, 85, 233);
}